#Logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
body {
   background-color: black;
   color: white;
   font-family: 'sans-serif';
}

.header {
  overflow: hidden;
  background-color: none;
  padding: 1px 30px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 5px;
  font-weight: bold;
  
  
}

.header a:hover {
  background-color: #0f0e0e;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
  
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}





body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(128, 22, 34);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: rgb(155, 23, 133);
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 244, 245);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: rgb(17, 16, 16);
  display: block;
  transition: 0.3s;
 
}

.sidebar a:hover {
  color: #ba0da0;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 26px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 245, 244);
  padding: 10px 15px;
  box-shadow: rgb(247, 247, 247) 0px 0px 10px;
}

.openbtn:hover {
  background-color: rgba(145, 133, 144, 0.874);
  
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*
Source - https://stackoverflow.com/a
Posted by Zemame Youcef Oualid, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-05, License - CC BY-SA 4.0
*/

@import url("https://fonts.googleapis.com/css2?family-Poppins");
.search {
  position: relative;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #252432;
    /* background: #8c52ff; */
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #8c52ff;
    color: white;
}

.glow-dot {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    animation: pulse 1.5s infinite alternate;
    
  }

  /* Animation for pulsing glow */
  @keyframes pulse {
    from {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }
    to {
      box-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px red;
    }
  }

  .title-with-dot {
        display: flex;
        align-items: center;
        gap: 10px; /* space between dot and text */
    }
  
  .accordion {
  background-color: black;
  color: rgb(233, 212, 212);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #a70da2; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgb(112, 8, 118);
  overflow: hidden;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ebe6e6;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: rgb(254, 252, 252);
}

.fa-sharp {
  float: right;
  background-color: none;
  padding-top: 5%;
  padding-right: 12%;

}
  
