#Logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
body {
   background-color: black;
   color: white;
   font-family: 'sans-serif';
}

.header {
   overflow: hidden;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header a {
  color: rgb(253, 249, 249);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  
  background-color:
  
}

.header a.logo {
  font-size: 5px;
  font-weight: bold;
  
  
}

.header a:hover {
  background-color: rgb(37, 35, 37);
}

.header a.active {
  background-color: none;
  
  
}

.header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 244, 245);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: rgb(17, 16, 16);
  display: block;
  transition: 0.3s;
 
}

.sidebar a:hover {
  color: ;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 26px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 245, 244);
  padding: 10px 15px;
  box-shadow: rgb(247, 247, 247) 0px 0px 10px;
}

.openbtn:hover {
  background-color: rgba(145, 133, 144, 0.874);
  
}

.menu-toggle {
  color: rgb(253, 245, 244) !important;
  padding: 10px !important;
  transition: 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: rgba(145, 133, 144, 0.874);
  border-radius: 4px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*
Source - https://stackoverflow.com/a
Posted by Zemame Youcef Oualid, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-05, License - CC BY-SA 4.0
*/

@import url("https://fonts.googleapis.com/css2?family-Poppins");
.search {
  position: relative;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #252432;
    /* background: #8c52ff; */
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #8c52ff;
    color: white;
}

.glow-dot {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    animation: pulse 1.5s infinite alternate;
    
  }

  /* Animation for pulsing glow */
  @keyframes pulse {
    from {
      box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }
    to {
      box-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px red;
    }
  }

  .title-with-dot {
        display: flex;
        align-items: center;
        gap: 10px; /* space between dot and text */
    }
  
  .accordion {
  background-color: rgb(229, 227, 227);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: none 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgb(252, 249, 249);
  overflow: hidden;
  color: black;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0a0a0a;
  color: rgb(21, 13, 13);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: rgb(12, 10, 10);
}

.fa-sharp {
  float: right;
  background-color: none;
  padding-top: 5%;
  padding-right: 12%;
}

.footernav {
  overflow: hidden;
  background-color: white;
}

.footernav a {
      display: block;
      color: rgb(252, 249, 251);
      text-align: center;
      padding: 14px 26px;
      text-decoration: none;
      font-size: 17px;
      border-bottom: 3px solid transparent;
      background-color: rgb(10, 10, 9);
      bottom: 0;

    }

    .footernav a:hover {
      border-bottom: 3px solid rgb(253, 251, 251);
    }

    .footernav a.active {
      border-bottom: 3px solid rgb(179, 16, 154);
    }

  .cookies {
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }

  
  	
